/*
 * В некоторых элементах используются размеры в `em`, а не в `px`.
 * Это сделано для достижения обратной совместимости с возможным
 * изменением кегля. Чтобы понять, какую величину выставить, можно
 * воспользоваться, например http://pxtoem.com/ (я использую его).
 *
 */

/*
 * Bootstrap
 *
 ***********************/

// Определяем папку со шрифтами Twitter Bootstrap

@icon-font-path: "../fonts";

// Подключение всех стилей Twitter Bootstrap.
// Ненужные стили можно отключить в этом файле,
// чтобы уменьшить размер и ускорить загрузку.

@import "bootstrap/bootstrap.less";

// Убираем скругление углов у кнопок, полей
// ввода, панелей и миниатюр

.btn,
.btn-group-lg > .btn,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.nav-pills > li > a,
.panel,
.thumbnail,
.input-group-addon {
  border-radius: 0;
}


.nav-pills>li+li {
  margin-left: 0;
  border-left: 1px solid #ddd;
}
.nav-stacked>li+li {
  margin-top: 0;
  border-top: 1px solid #ddd;
  border-left-width: 0;
}

.table {
  margin-bottom: 0;
}

/*
 * Font Awesome — дополнительная библиотека шрифтовых иконок
 * Использование, напр.: <i class="fa fa-adjust"></i>
 *
 * Подробнее на http://fortawesome.github.io/Font-Awesome/
 *
 ***********************/

@fa-font-path: "../fonts";

@import "font-awesome/font-awesome.less";

/*
 * Custom
 *
 ***********************/

// Переменные


// Размер основного шрифта
@font-size: 18px;

// Набор сочетающихся между собой цветов.
// Можно использовать как миксины, например:
//
// div {
//   background-color: @color1;
//   color: @color4;
//   border: 1px dotted @color2;
// }

@color-1: #f5e3b8;
@color-2: #f9a397;
@color-3: #de7482;
@color-4: #845a7e;
@color-5: #41416b;

// Глобальные объекты

// Устанавливаем основную рабочую область на всю
// ширину и высоту окна браузера
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}


// Отключаем возможность выделения каких-либо
// (*) элементов курсором мыши
* {
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  *-webkit-user-select: none !important;
  -o-user-select: none !important;
  user-select: none !important;
}

// Классы-помощники

// Добавляет эффект «псевдоссылки» с пунктирным подчёркиванием
// напр.: <a href="additional.html" class="dashed">Дополнительно…</a>
.dashed {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}


// Очень большая кнопка
// <button type="button" class="btn btn-default btn-lg-extra">Кнопка</button>
// или
// <a href="#" class="btn btn-default btn-lg-extra">Кнопка</a>
.btn-lg-extra {
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.33;
}

// Устанавливает элементу максимально возможную высоту
// (прим.: для элементов-родителей» тоже может понадобиться этот класс)
.full-height {
  height: 100%;
  overflow-y: auto;
}

// Metro-стиль, как в Windows 8
.metro {
  margin-left: 0;
  margin-right: 0;

  .metro-item {
    padding-left: 0;
    padding-right: 0;

    > .thumbnail {
      margin-bottom: 0;
      position: relative;
      padding: 10px;
    }
  }
}


// Готовые классы цветов. Нужны, чтобы акцентировать внимание
// на конкретных блоках
.bg-color-1 {
  background-color: @color-1;
  border: 1px solid darken(@color-1, 10%);
}
.bg-color-2 {
  background-color: @color-2;
  border: 1px solid darken(@color-2, 10%);
}
.bg-color-3 {
  background-color: @color-3;
  border: 1px solid darken(@color-3, 10%);
}
.bg-color-4 {
  background-color: @color-4;
  border: 1px solid darken(@color-4, 10%);
  color: #eee;
}
.bg-color-5 {
  background-color: @color-5;
  border: 1px solid darken(@color-5, 10%);
  color: #eee;
}

// Устанавливает абсолютное позиционирование элемента
.pos-a {
  position: absolute;
}

// Устанавливает относительное позиционирование элемента
.pos-r {
  position: relative;
}

// «Сбрасывает» внутренние отступы
.no-padding {
  padding: 0;
}

// Увеличивает элемент за счёт увеличение шрифта в этом элементе
.mega-lg {
  font-size: 38px;
  min-height: 68px;
}

// Поле для авторизации
#login {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 270px;
  margin-left: -135px;
}

// Шапка заказа

#order-add {
  margin-right: 15px;
}

// Левое боковое меню

.aside-left {
  padding-left: 0;
}

.submenu a {
  color: #666;
}

// Панель уведомлений
.notify {
  position: absolute;
  width: 100%;
  left: 0;
  top: 51px;
  height: 24px;

  .notifymessage {
    float: left;
    width: 30%;

    .success {
      background-color: @color-1;
      padding: 2px;
      height: 100%;
      display: none;
    }
    .error {
      background-color: @color-3;
      padding: 2px;
      height: 100%;
      display: none;
    }
  }

  .notifyguest {
    float: right;
    width: 35%;
    padding: 2px;
    height: 100%;
    text-align: right;
  }
}

// Рабочая область

.workspace {
  position: absolute;
  width: 100%;
  left: 0;
  top: 75px;
  bottom: 0px;
  z-index: 100;
  background-color: #fff;
  padding: 15px 0;
  transition: bottom ease-in-out 400ms;

  // Если добавить этот класс к .workspace, то снизу отобразится
  // панель спец. предложений
  &.footer-show {
    bottom: 113px;
  }

  // Устанавливаем максимально возможную для высоту блоков
  .aside-left,
  .content,
  .menu,
  .aside-right {
    .full-height();
  }
}

// Собственно, меню товаров
.menu {
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;

  .menu-list,
  .report-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 2.5em;
    bottom: 0;
    bottom: 47px;
    overflow-y: auto;

    //
    &.pagination-show {
      bottom: 2.5em;
    }
  }

  .menu-list.realbarch {
    top: 0;
  }

  .report-list {
    bottom: 2.5em !important;
  }

  .report-summ {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  
  // Классы для разделения рабочей области на соответствующие части в %
  .report-col-25 {
    width: 25%;
  }
  .report-col-30 {
    width: 30%;
  }
  .report-col-35 {
    width: 35%;
  }
  .report-col-50 {
    width: 50%;
  }
  .report-col-75 {
    width: 75%;
  }

  .item-title {
    color: #000;
    font-weight: bold;
  }

  .item-cost {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px;
    font-size: 100%;
    background-color: #eee;
  }


  // Нижняя панель заказа с кнопками «Флаер», «Дополнительно» и «Номер столика»
  .panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

}


// Класс позиции меню
.metro-item {
  height: 20%;

  .thumbnail {
  cursor: pointer;
  display: block;
  height: 100%;
  text-decoration: none;

    &:hover {
     text-decoration: none;
    }
  }

  // Блок элемента открытого заказа
  &.order-opened {
//    top: 50px !important;
    height: auto;
    min-height: 170px;
  }
}

.panel-form {
  padding: 6px 15px;
}

// Строка сортировки
.sort {
  .nav {
    > li {
      max-width: 130px;

      > a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &.active {
        max-width: none;
      }
    }
  }
}

// Блок заказа

.aside-right {
  position: relative;
}

// Классы блока и элементов заказа
.order {
  position: absolute;
  top: 0;
  bottom: 4.3em;
  left: 15px;
  right: 15px;
  margin-bottom: 0;

  .panel-heading {
    position: relative;
    height: 2.5em
  }

  .order-trash {
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
  }

  .order-timer {
    *float: right;
    color: #777;
    margin-right: 50px;
  }

  p {
    margin: 0 0 5px;
  }

  > .panel-body,
  > .panel-footer {
    position: absolute;
    left: 0;
    right: 0;
  }

  > .panel-body {
    overflow: auto;
    top: 2.5em;
    bottom: 2.5em;
  }
  .order-item {
    cursor: pointer;
    font-size:16px;

    > td {
      padding: 4px 3px;
    }
  }
  @media only screen and (max-width: 1025px){
    .panel-body {
      overflow: auto;
      top: 2.5em;
      bottom: 2.5em;
    }
    .btn-lg, .btn-group-lg > .btn{
      font-size: 12px;
      padding: 5px 8px;
    }
    body{
      line-height: 1.2 !important;
    }
    .order-item {
      cursor: pointer;
      font-size: 14px;
    }
  }

  .order-value.controller {
    width: 145px;
  }

  > .panel-footer {
    bottom: 0;
  }
}

.order-cost {
  white-space: nowrap;
  text-align: right;
}

.order-result {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
}

.order-deleted {
  display: none;

  > .text-danger {
    padding: 10px 8px;
  }
}

.inside {
  background-color: rgba(64, 51, 211, 0.2);
}

// Подвал (блок спец. предложений)

#footer {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  overflow-x: auto;
}

.special-offer {
  height: 100%;
  white-space: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: auto;

  > li {
    display: inline-block;
    width: 300px;
    margin: 0;
    height: 100%;
    border: 1px solid #eee;

    > a {
      display: block;
      height: 100%;
      width: 100%;
      min-height: 140px;
      padding: 15px;
    }
  }
}

// Управление шрифтами
// Установка объявленного в начале размера шрифта (18px по умолчанию)
.workspace,
#footer .special-offer > li{
  font-size: @font-size;
}

.btn.btn-primary {
  background: #216f93;
  border-color: #216f93;
  outline: none;
}

.chbarch-global .modal-dialog-twice {
  position: absolute;
  margin: 0;
  margin-left: -500px;
  top: 0;
  left: 50%;
  width: 1000px;
  height: 100%;
  min-height: 700px;
  padding: 0;
}

.chbarch-global .modal-dialog .modal-content {
  position: absolute;
  width: 400px;
  height: 100%;
  border-radius:0;
  border:none;
  box-shadow:none;
  background: #fff;
}

.chbarch-global .modal-dialog .modal-content.this-category {
  left: 0px;
  width: 390px;
  background: rgba(255,255,255,0.95);
}

.chbarch-global .modal-dialog .modal-content.this-product, .modal-dialog .modal-content.modal-product-list {
  right: 0px;
  color: #fff;
  width: 610px;
  background: #FFD49B;
}

.chbarch-global .modal-product-list {
  display: none;
  position: absolute;
}

.chbarch-global .modal-content .modal-header, .modal-content .modal-footer {
  border: none;
}

.chbarch-global .modal-content > div {
  padding: 15px 30px;
}
.chbarch-global .modal-content > div.selectedProducts {
  padding: 15px 45px;
}

.chbarch-global .modal-without-position {
  padding: 150px 0;
  font-size: 21px;
  text-align: center;
}

.chbarch-global .modal-header {
  color: #333;
  text-align: center;
}

.chbarch-global .modal-header h4.modal-title {font-size: 25px;}

.chbarch-global .modal-header h3.modal-under-title {font-size: 21px;}

.chbarch-global .modal-content .btn {
  height: 52px;
  border: none;
  padding: 14px 16px;
  overflow: hidden;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.chbarch-global .modal-content .unselectedButton .btn-primary {background: #216f93;}
.chbarch-global .modal-content .selectedButton .btn-primary {background: #6bb9ce;}
.chbarch-global .modal-content .selectedButton .btn-primary span.this-status {background: #1f83a1;}

.chbarch-global .modal-content .btn-primary.addOrderButton {
  background: #009636;
  text-align: center;
  font-weight: bold;
}


.disabledSub {background: #c5c5c5 !important; cursor: alias !important;}

.disabledSub span.this-status {background: #b3b3b3 !important}


.chbarch-global .modal-content .btn-primary span.this-prod-title {
  margin-left: 60px;
}

.chbarch-global .modal-content .col-md-12 {
  overflow: hidden;
  padding: 0;
  margin: 8px 0;
}

.chbarch-global .modal-content .btn-primary span.this-status {
  position: absolute;
  top: 0px;
  left: 0;
  width: 52px;
  padding: 18px 0;
  text-align: center;
  color: #fff;
  font-size: 17px;
  background: #00567e;
}

.chbarch-global .modal-content .btn-primary:hover span.this-status {
  color: #eee;
}

.chbarch-global .modal-footer {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  height: 64px;
}

.chbarch-global .modal-footer .btn-success {
  padding: 20px 16px;
  text-align: center;
  font-size: 24px;
  height: 74px;
  background-color: #03a538;
  border-color: #03a538;
}

.chbarch-global .modal-backdrop.in {
  background-color: rgba(20,10,0,0.96);
  opacity: 1;
}

.chbarch-global .modal-content .complexPartAdd {
  color: #127a7e;
  white-space:inherit;
//  padding: 8px 15px;
  background: #fff;
//  padding: 15px 30px 15px 70px;

  font-size: 14px;
  padding: 0px;
  height: inherit;
  cursor: pointer;
}

.chbarch-global .spOfferPartAdd:hover {
  background-color: #f5f5f5;
}
.chbarch-global .spOfferPartAdd:active {
  background-color: #e0e0e0;
}

.chbarch-global .selectedProducts {
/*  position: relative;
  padding: 15px 45px;*/
}

.chbarch-global .selectedProduct {
  color: #fff;
  background: #fff;
  position: relative;
//  margin: 0 15px;
}


.chbarch-global .modal-content .btn.selectedProduct span.close-button {
/*  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  width: 52px;
  padding: 18px 0;
  text-align: center;
  color: #fff;
  font-size: 17px;
  background: #000;*/
}

.chbarch-global .modal-content .btn.selectedProduct span.this-prod-pagetitle {
 /* margin-right: 60px;*/
  }

.chbarch-global .modal-content .row.selectedProduct {
  margin: 10px 0;
}

.row.selectedProduct .col-md-10, .row.selectedProduct .col-md-2 {
  padding: 0;
}

.row.selectedProduct .thisSelectedProduct {
  cursor: pointer;
  color: #333;
}
.row.selectedProduct .thisSelectedProduct:hover {background: #ffefbf;}
.row.selectedProduct .thisSelectedProduct:active {background: #ffbc7b;}


.row.selectedProduct .col-md-10 {}

.row.selectedProduct .col-md-10 span.this-prod-pagetitle {
  line-height: 52px;
  color: #333;
  padding: 15px;
  font-size: 17px;
}

.row.selectedProduct .col-md-2 .btn {
  background: #fb9d4e;
  color: #fff;
  text-align: center;
}

.productListBlock {
  text-align: center;
}

.menuGoBack {
  text-align: center;
  font-size: 48px;
  pading: 10px;
  color: #333;
  margin: 20px;
  background: transparent;
  border: none;
  /*width: 100px;
  height: 100px;
  line-height: 100px;
  background: #FFF;
  margin: 20px 220px;
  border: none;
  border-radius: 120px;
  padding: 0;
  font-size: 17px;
  color: #127a7e;
  outline: none;*/
}

.orderButtonBlock .showPrice {
  color: #333;
  font-size: 30px;
  margin: 15px 0px;
  text-align: right;
}

.numTable {
  -moz-user-select: text !important;
  -khtml-user-select: text !important;
  *-webkit-user-select: text !important;
  -o-user-select: text !important;
  user-select: text !important;
}

.complex {
  background: #fff;
}

.flyerProduct {

}

.btn-primary.disabled {
  background: #216f93 !important;
  border-color: #216F93  !important;
}
button#btn-gift-select {
  background: #5bc0de;
  border-color: #5bc0de;
}
.giftname {
  background: rgb(180, 227, 241);
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.prodcountbut {
  margin-bottom: 8px;
}
.productButton{
  margin: 2px;
}


/*******************************/
/*******************************/
/*******************************/
/*****                     *****/
/*****       SOLUS         *****/
/*****                     *****/
/*******************************/
/*******************************/
/*******************************/


/** Новое **/
