[[!chbarchRedirectToHome]]
<a href="?service=logout">Logout</a>
<br/><br/>
[[!+modx.user.id]] > [[!+modx.user.username]]
<br/><br/>
<a class="btn btn-success btn-lg" href="[[~2]]">Войти в рабочую зону</a>