<button type="button" class="btn btn-lg btn-success" id="discountBarmen">Скидка бармену</button>
<button type="button" class="btn btn-lg btn-success" id="discountManager">Скидка менеджеру</button>
[[++chbarch_custom_discount:is=`0`:then=``:else=`<button type="button" class="btn btn-lg btn-success" id="discountCustom" data-discount="[[++chbarch_custom_discount]]">Скидка [[++chbarch_custom_discount]]%</button>`]]

<hr>