<div style="display:none;" class="productListBlock [[+productListParent]]" data-list-parent="[[+productListParent]]">
    <button class="menuGoBack"><i class="fa fa-arrow-left"></i></button>
  <div class="container-fluid metro likeproducts">  [[+productList]]</div>
</div>