<div class="orderWhithoutTable col-md-2 metro-item " data-orderid="[[+orderId]]" style="margin-bottom: 20px;background: #fff;">
	<div style="position: relative; overflow:hidden; padding: 10px 15px; border: 1px solid #ddd;" class=""><!-- thumbnail -->
		<h5>Заказ: [[+orderId]]</h5>
		<!--<input type="text" class="form-control" name="table" placeholder="Стол" style="width:100px;">-->
		<div style="width: 70%; float:left;"><span style="width: 30%;">Стол:</span>
			<input style="width: 70%;line-height: 35px;height: 35px;" type="text" class="numTable" id="[[+orderId]]" value="[[+table]]">
		</div>
		<!--<input type="hidden" name="orderId" value="[[+orderId]]">-->
		<button type="submit" style="width: 30%; float:left; background: #31a131; border:1px solid #249924; color: #fff; line-height: 35px; height: 35px;" value="order/settable" >Записать</button>
	</div>
</div>