<div class="col-md-3 metro-item">
    <div class="thumbnail" data-product-id="[[+id]]">
    <h4 class="item-title">[[+menutitle:default=`[[+pagetitle]]`]]</h4>
    <!--div class="row">
        <div class="col-md-4" style="padding-right:2px;">
            <form method="post" class="chForm btn-block" style="margin:0" id="ms2form_[[+tv.chbarch_ProductSmall]]">
                <input type="hidden" name="count" value="1">
                <input type="hidden" name="options" value="[]">
                <input type="hidden" name="id" value="[[+tv.chbarch_ProductSmall]]">
                <input type="hidden" name="ms2_action" value="cart/add">
                <button data-18-only="[[!+chbarch_18_only]][[!*chbarch_18_only]]" data-no-discount="[[+tv.chbarch_no_discount]][[*tv.chbarch_no_discount]]" data-product-id="[[+tv.chbarch_ProductSmall]]" class="buyProduct btn btn-success btn-block" type="submit">Мал.
                    [[#[[+tv.chbarch_ProductSmall]].price]]
                </button>
            </form>
        </div>
        <div class="col-md-4" style="padding-right:2px;padding-left:2px;">
            <form method="post" class="chForm btn-block" style="margin:0" id="ms2form_[[+tv.chbarch_ProductMedium]]">
                <input type="hidden" name="count" value="1">
                <input type="hidden" name="options" value="[]">
                <input type="hidden" name="id" value="[[+tv.chbarch_ProductMedium]]">
                <input type="hidden" name="ms2_action" value="cart/add">
                <button data-18-only="[[!+chbarch_18_only]][[!*chbarch_18_only]]" data-no-discount="[[+tv.chbarch_no_discount]][[*tv.chbarch_no_discount]]" data-product-id="[[+tv.chbarch_ProductMedium]]" class="buyProduct btn btn-success btn-block" type="submit">Сред.
                    [[#[[+tv.chbarch_ProductMedium]].price]]
                </button>
            </form>
        </div>
        <div class="col-md-4" style="padding-left:2px;">
            <form method="post" class="chForm btn-block" id="ms2form_[[+tv.chbarch_ProductLarge]]">
                <input type="hidden" name="count" value="1">
                <input type="hidden" name="options" value="[]">
                <input type="hidden" name="id" value="[[+tv.chbarch_ProductLarge]]">
                <input type="hidden" name="ms2_action" value="cart/add">
                <button data-18-only="[[!+chbarch_18_only]][[!*chbarch_18_only]]" data-no-discount="[[+tv.chbarch_no_discount]][[*tv.chbarch_no_discount]]" data-product-id="[[+tv.chbarch_ProductLarge]]" class="buyProduct btn btn-success btn-block" type="submit" >Бол.
                    [[#[[+tv.chbarch_ProductLarge]].price]]
                </button>
            </form>
        </div>
    </div-->
</div>
</div>